* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1781px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v21-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v21-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v21-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v21-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v21-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.site__header {
  background: #FFF5EC;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__item:not(:last-child) {
  margin-right: 40px;
}

.header__link {
  text-decoration: none;
  color: #2e266f;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__user-box {
  display: flex;
  align-items: center;
}

.header__user-info {
  display: flex;
  width: 36px;
  height: 11px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.food__section {
  background: #fff5ec;
}

.food__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.food__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.food__title {
  width: 506px;
  height: 179px;
  margin: 0;
  flex-shrink: 0;
  color: #2e266f;
  font-family: "Poppins";
  font-size: 200px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  opacity: 0.05;
}

.food__info {
  display: inline-block;
  width: 700px;
  height: 157px;
  align-items: center;
  flex-shrink: 0;
  color: #2e266f;
  font-family: "Poppins";
  font-size: 72px;
  font-style: normal;
  margin-bottom: 40px;
  font-weight: 700;
  line-height: 90px; /* 125% */
  text-transform: capitalize;
}

.food__form {
  display: inline-block;
}

.food__label {
  width: 670px;
  height: 90px;
  flex-shrink: 0;
  border: 2px solid #fff;
  padding: 36px;
  background: #fff;
}

.food__search-input {
  outline: none;
  border: none;
  background-color: none;
}/*# sourceMappingURL=main.css.map */